@charset "UTF-8";
/* CSS Document */
*{

	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.gwidth{
	width: 1000px;
	margin: 0 auto;
}
.clearfix:after{
		content:"";
		clear:both;
		display: block;
	}
.box{
	width:100%;
	border-top: 5px solid #09238B;
	border-bottom: 1px solid #CCCCCC;
		
}
	.p1{
		height: 22px;
		width: 137px;
		background-color:#09238B;
		float: right;
		margin-right: 100px;
	}
		.p1 a{

			width: 44%;
			display: inline-block;
			float: left;
			color:#fff;
			font-size:12px;
			line-height: 22px;
			text-align: center;
		}
		.p1 span{

			color: #fff;
			text-align: center;
			float: left;
		}
	.top{
		margin-top: 12px;
	}
		.top1{
			height: 81px;
			margin-top: 12px;
			margin-bottom: 10px;
		}
		.topleft{

			width: 353px;
			height: 63px;
			float: left;
		}
			.topleft img{
				float: left;
				margin-right: 15px;	
			}
			.p2{

				font-size: 20px;
				color: #09238B;
				font-weight: bold;
				margin-top: 20px;
			}
			.p21{

				font-size: 13px;
				color: #09238B;
				font-weight: bold;
				margin-top: 5px;
			}
			.p22{

				float: right;
				margin-top: 45px;
				margin-right: -20px;
				font-size: 14px;
			}
			.p22 a{

				color: #000;
				margin-right: 20px;
			}
	.nav{
		margin-top: 16px;
		font-size: 12px;
	}
		.nav a{
			color: #000;
		}
	.center{
		height: 1216px;
		background-color: #F2F2F2;
		margin-top: 13px;
	}
		.centerleft{
			padding-top: 45px;
			width: 200px;
			float: left;
		}
			.centerleft h2{
				color: #10298E;
				padding-bottom: 8px;
				border-bottom: 1px solid #000;
			}
			.centerleft li{
					margin-top: 17px;
					border-bottom: 1px solid #000;
					font-size: 14px;
					padding-bottom: 8px;
				}
				.centerleft li:hover{
					font-weight: bold;
				}
			.centerleft span{
				font-size: 10px;
				margin-right: 8px;
			}
				.centerleft span:hover{
					color: #10298E;
				}
		.centerright{
			width: 769px;
			height: 100%;
			padding-top: 40px;
			margin-left: 30px;
			float: left;

		}
			.centerright h3{
				padding-bottom: 8px;
				border-bottom: 1px solid #000;
			}
				.right1{
					height: 380px;
					margin-top: 27px;
					border-bottom:1px dashed #CCCCCC ; 
				}
					.right1 p{
						font-size: 12px;
						text-indent: 2em;
						margin-top: 6px;
						line-height: 27px;
					}
				.right2{
					width: 100%;
					height: 247px;
					margin-top: 23px;
					border-bottom:1px dashed #CCCCCC ; 
				}
					.right2 h5{
						color: #2D439C;
					}
					.right2 h6{
						font-weight: bold;
						margin-top: 20px;
					}
					.b{
						font-size: 12px;
						text-indent: 2em;
						margin-top: 17px;
						line-height: 24px;
					}
					.b1{
						font-size: 12px;
						text-indent: 2em;
						margin-top: 11px;
					}
					.b2{
						font-size: 12px;
						text-indent: 2em;
						margin-top: 17px;
					}
				.right3{
					height: 82px;
					margin-top: 20px;
				}
					.right3 h5{
							color: #2D439C;
						}
					.right3 p{
						font-size: 12px;
						text-indent: 2em;
						margin-top: 17px;
						line-height: 24px;
					}
				
				
	.bottom{

		height: 292px;
		background-color: #5F5F5F;
		border-top: 5px solid #09238B;
	}
		.di1{
			width: 998px;
			height: 30px;
			padding-top: 20px;
			border-bottom: 1px solid #fff;
		}
			.a3{
				color: #fff;
				font-size: 12px;
				margin-right: 90px;
			}
			.a4{
				color: #fff;
				font-size: 12px;
				margin-left: 60px;
			}
		.di2{
			width: 1000px;
			height: 141px;
			margin-top: 20px;
			border-bottom: 1px solid #000;
		}

			.p3{
				width: 49px;
				height: 76px;
				font-size: 12px;
				margin-right: 95px;
				float: left;
				}
				.p3 a{
				color: #CCCCCC;
				line-height: 30px;
				}
			.p4{
				width: 97px;
				height: 102px;
				font-size: 12px;
				margin-right: 40px;
				float: left;
				}
				.p4 a{
				color: #CCCCCC;
				line-height: 30px;
				}
			.p5{
				width: 49px;
				height: 42px;
				font-size: 12px;
				margin-right: 95px;
				float: left;
				}
				.p5 a{
				color: #CCCCCC;
				line-height: 30px;
				}
		.di2 div{
			width: 80px;
			height: 106px;
			float: right;
			text-align: center;
			margin-right: 30px;
			font-size: 12px;
			color: #B1B1B1;
		}
	.di3{
		margin-top: 30px;
		font-size: 12px;
		color: #B1B1B1;
	}
		.di3 p{
			float: left;
			margin-right: 20px;
		}
			.p6{
				margin-left: 280px;
			}
				.p6 a{
					color: #B1B1B1;
				}